{% load static %}
<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сервіс обліку учнів</title>
    <meta name="descriptions" content="Система обліку студентів навчального закладу">

    <!--  include styles  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"
          integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'students/base.css' %}">
</head>
<body class="home-page">
    <!-- Start Container -->
    <div class="container wrapper">

        <!-- Start Header -->
        <div class="row" id="header">

            <!-- Logo -->
            <div class="col-md-8 logo-title">
                <h1>Сервіс обліку учнів</h1>
            </div>

            <!-- Years Selector -->
            <div class="col-md-2 group-selector">
                <label for="exampleSelect1">Навчальний рік:</label>
                <select class="form-control" id="exampleSelect1">
                    <option value="">Усі роки</option>
                    <option value="">2020</option>
                    <option value="">2019</option>
                    <option value="">2018</option>
                </select>
            </div>

            <!-- Class Numbers Selector -->
            <div class="col-md-2 group-selector">
                <label for="exampleInput1">Клас:</label>
                <select class="form-control" id="exampleInput1">
                    <option value="">Усі класи</option>
                    <optgroup label="Перші класи">
                        <option value="">1-А</option>
                        <option value="">1-Б</option>
                        <option value="">1-В</option>
                        <option value="">1-Г</option>
                        <option value="">1-Д</option>
                    </optgroup>
                    <optgroup label="Другі класи">
                        <option value="">2-А</option>
                        <option value="">2-Б</option>
                        <option value="">2-В</option>
                        <option value="">2-Г</option>
                        <option value="">2-Д</option>
                    </optgroup>
                    <optgroup label="Треті класи">
                        <option value="">3-А</option>
                        <option value="">3-Б</option>
                        <option value="">3-В</option>
                        <option value="">3-Г</option>
                        <option value="">3-Д</option>
                    </optgroup>

                </select>
            </div>
 
        </div>
        <!-- End Header -->

        <!-- Start SubHeader -->
        <div class="row" id="sub-header">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="{% url 'students' %}">Учні</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{% url 'visiting' %}">Відвідування</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{% url 'classes' %}">Класи</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End SubHeader -->

        {% block content %}{% endblock %}

        <!-- Start Footer -->
        <div class="row" id="footer">
            <div class="col-md-12">
                м.Київ, гімназія №178, 1994-2020pр.
            </div>
        </div>
        <!-- End Footer -->

    </div>
    <!-- End Container -->

    <!-- Javascripts Section -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>
</html>