{% extends 'students/base.html' %}
{% block content %}

<!-- Start Main Page Content -->
<div class="row" id="content-columns">
    <div class="col-md-12" id="content-column">

        <!-- Add Student Button -->
        <h2>Класи</h2>
        <a class="btn btn-primary" href="{% url 'classes-add' %}">Додати клас</a>

        <!-- Start Students Listing -->
        <div class="main-table">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th><a href="">№</a></th>
                    <th><a href="">Клас &uarr;</a></th>
                    <th><a href="">Староста &uarr;</a></th>
                    <th>Дії</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="" title="Редагувати">3-А</a></td>
                    <td><a href="{% url 'students-edit' 1 %}" title="Редагувати">Корост Андрій</a></td>
                    <td>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button"
                                    class="btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Дія
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Відвідування</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Редагувати</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Видалити</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- End Students Listing -->

            <!-- Start Pagination -->
            <div>
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
            <!-- End Pagination -->

        </div>
        <!-- End Students Listing -->

    </div>
</div>
<!-- End Main Page Content -->

{% endblock content %}