{% extends 'students/base.html' %}
{% block content %}

<!-- Start Main Page Content -->
<div class="row" id="content-columns">
    <div class="col-md-12" id="content-column">

        <!-- Add Student Button -->
        <h2>Відвідування</h2>

        <!-- Start Students Listing -->
        <label for="visiting-table"><a href="">&blacktriangleleft;</a> Вересень 2020р. <a
                href="">&blacktriangleright;</a></label>
        <div class="main-table" id="visiting-table">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th><a href="">№</a></th>
                    <th><a href="">Учень &uarr;</a></th>
                    <th>Вт<br>1</th>
                    <th>Ср<br>2</th>
                    <th>Чт<br>3</th>
                    <th>Пт<br>4</th>

                    <th>Пн<br>7</th>
                    <th>Вт<br>8</th>
                    <th>Ср<br>9</th>
                    <th>Чт<br>10</th>
                    <th>Пт<br>11</th>

                    <th>Пн<br>14</th>
                    <th>Вт<br>15</th>
                    <th>Ср<br>16</th>
                    <th>Чт<br>17</th>
                    <th>Пт<br>18</th>

                    <th>Пн<br>21</th>
                    <th>Вт<br>22</th>
                    <th>Ср<br>23</th>
                    <th>Чт<br>24</th>
                    <th>Пт<br>25</th>

                    <th>Пн<br>28</th>
                    <th>Вт<br>29</th>
                    <th>Ср<br>30</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="" title="Редагувати">Корост Андрій</a></td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck2">
                            <label class="custom-control-label" for="customCheck2"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck3">
                            <label class="custom-control-label" for="customCheck3"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck4">
                            <label class="custom-control-label" for="customCheck4"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck5">
                            <label class="custom-control-label" for="customCheck5"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck6">
                            <label class="custom-control-label" for="customCheck6"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck7">
                            <label class="custom-control-label" for="customCheck7"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck8">
                            <label class="custom-control-label" for="customCheck8"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck9">
                            <label class="custom-control-label" for="customCheck9"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck10">
                            <label class="custom-control-label" for="customCheck10"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck11">
                            <label class="custom-control-label" for="customCheck11"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck12">
                            <label class="custom-control-label" for="customCheck12"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck13">
                            <label class="custom-control-label" for="customCheck13"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck14">
                            <label class="custom-control-label" for="customCheck14"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck15">
                            <label class="custom-control-label" for="customCheck15"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck16">
                            <label class="custom-control-label" for="customCheck16"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck17">
                            <label class="custom-control-label" for="customCheck17"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck18">
                            <label class="custom-control-label" for="customCheck18"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck19">
                            <label class="custom-control-label" for="customCheck19"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck20">
                            <label class="custom-control-label" for="customCheck20"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck21">
                            <label class="custom-control-label" for="customCheck21"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck22">
                            <label class="custom-control-label" for="customCheck22"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <td>1</td>
                    <td><a href="" title="Редагувати">Хижак Олексій</a></td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck101">
                            <label class="custom-control-label" for="customCheck101"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck102">
                            <label class="custom-control-label" for="customCheck102"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck103">
                            <label class="custom-control-label" for="customCheck103"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck104">
                            <label class="custom-control-label" for="customCheck104"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck105">
                            <label class="custom-control-label" for="customCheck105"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck106">
                            <label class="custom-control-label" for="customCheck106"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck107">
                            <label class="custom-control-label" for="customCheck107"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck108">
                            <label class="custom-control-label" for="customCheck108"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck109">
                            <label class="custom-control-label" for="customCheck109"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1010">
                            <label class="custom-control-label" for="customCheck1010"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1011">
                            <label class="custom-control-label" for="customCheck1011"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1012">
                            <label class="custom-control-label" for="customCheck1012"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1013">
                            <label class="custom-control-label" for="customCheck1013"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1014">
                            <label class="custom-control-label" for="customCheck1014"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1015">
                            <label class="custom-control-label" for="customCheck1015"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1016">
                            <label class="custom-control-label" for="customCheck1016"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1017">
                            <label class="custom-control-label" for="customCheck1017"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1018">
                            <label class="custom-control-label" for="customCheck1018"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1019">
                            <label class="custom-control-label" for="customCheck1019"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1020">
                            <label class="custom-control-label" for="customCheck1020"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1021">
                            <label class="custom-control-label" for="customCheck1021"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1022">
                            <label class="custom-control-label" for="customCheck1022"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- End Students Listing -->

            <!-- Start Pagination -->
            <div>
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
            <!-- End Pagination -->

        </div>
        <!-- End Students Listing -->

    </div>
</div>
<!-- End Main Page Content -->

{% endblock content %}